.songs-main {
  background: linear-gradient(to top, #171a1b, #121212);
  padding-bottom: 2.5em;
}

/* colors */
.E6DBDB {
  color: #e6dbdb;
}
.B3B3B3 {
  color: #b3b3b3;
}

.white {
  color: white;
}

.black {
  color: black;
}

.green {
  color: #16e65f;
}

.grey {
  color: #a0a0a0;
}

.bgwhite {
  background-color: white;
}

.hover-color {
  background-color: #2c2e2f;
}

.pl1p2 {
  padding-left: 1.2em;
}

/* special divs */

.play-pause-btns {
  align-self: center;
}

.song {
  display: grid;
  grid-template-columns: 0.5fr 2fr 2fr 2fr 0.5fr;
  margin: 0em 1.5em 0em 1.5em;
  border-radius: 6px;
}

.songs-header {
  display: grid;
  grid-template-columns: 0.5fr 2fr 2fr 2fr 0.5fr;
  margin: 0em 1.5em 0em 1.5em;
  border-radius: 6px;
  padding-top: 1em;
}

.album-cover {
  height: 3em;
  border-radius: 3px;
}

.current-album-cover-container {
  display: flex;
  align-items: center;
}

.current-album-cover {
  border-radius: 3px;
  height: 4em;
}

.font-size085 {
  font-size: 0.85em;
}

.artist {
  margin-top: 0.2em;
  font-size: 0.7em;
}

.current-song-main {
  position: fixed;
  left: 0;
  bottom: 0;
  width: 100%;
  background-color: black;
  display: grid;
  grid-template-columns: 2fr 2.3fr 2fr;
  height: 6em;
  color: white;
}

.song-progress-div {
  transform: translateY(-30%);
}

.explicit-icon {
  height: 1.3em;
  margin-right: 0.5em;
}

.player-btn {
  color: #b3b3b3;
}

.player-btn:hover {
  color: white;
}

.current-play-btn-container {
  width: 3em;
  height: 3em;
}

.play-btn {
  display: flex;
  width: 2em;
  height: 2em;
  display: flex;
  align-self: center;
  justify-content: center;
  margin: 0.5em;
}

.play-btn:hover {
  width: 2.1em;
  height: 2.1em;
  margin: 0%;
}

.playing-container {
  display: grid;
  grid-template-columns: 0.2fr 2fr 0.2fr;
}

.music-wave {
  position: relative;
  width: 3em;
  height: 2em;
  overflow: hidden;
}

.music-wave .bar {
  position: absolute;
  width: 0.2em;
  border-radius: 4px;
  height: 0;
  background-color: #1ed760;
}

.bar {
  height: min-content;
}

.music-wave .bar:nth-child(1) {
  left: 0.2em;
  animation: wave1 1.5s infinite alternate;
}

.music-wave .bar:nth-child(2) {
  left: 0.7em;
  animation: wave2 1.2s infinite alternate;
}

.music-wave .bar:nth-child(3) {
  left: 1.2em;
  animation: wave3 1.8s infinite alternate;
}

.music-wave .bar:nth-child(4) {
  left: 1.7em;
  animation: wave4 1.3s infinite alternate;
}

.music-wave .bar:nth-child(5) {
  left: 2.2em;
  animation: wave5 1.7s infinite alternate;
}

.music-wave .bar:nth-child(6) {
  left: 2.7em;
  animation: wave6 1.4s infinite alternate;
}

@keyframes wave1 {
  0%,
  100% {
    height: 0.5em;
    top: 50%; /* Start from center */
  }
  50% {
    height: 1.5em;
    top: 20%; /* Increase from top */
  }
}

@keyframes wave2 {
  0%,
  100% {
    height: 0.5em;
    top: 50%; /* Start from center */
  }
  50% {
    height: 1.2em;
    top: 80%; /* Increase from bottom */
  }
}

@keyframes wave3 {
  0%,
  100% {
    height: 0.5em;
    top: 50%; /* Start from center */
  }
  50% {
    height: 1.3em;
    top: 30%; /* Increase from top */
  }
}

@keyframes wave4 {
  0%,
  100% {
    height: 0.5em;
    top: 50%; /* Start from center */
  }
  50% {
    height: 1.4em;
    top: 70%; /* Increase from bottom */
  }
}

@keyframes wave5 {
  0%,
  100% {
    height: 0.5em;
    top: 50%; /* Start from center */
  }
  50% {
    height: 1.1em;
    top: 40%; /* Increase from top */
  }
}

@keyframes wave6 {
  0%,
  100% {
    height: 0.5em;
    top: 50%; /* Start from center */
  }
  50% {
    height: 1.4em;
    top: 60%; /* Increase from bottom */
  }
}

.hr {
  display: block;
  margin: 0em 2em 2em 2em;
  background-color: #332829;
  height: 2px;
}

.date-added {
  display: flex;
  align-items: center;
}

.album-names {
  display: flex;
  align-items: center;
}

.duration-divs {
  display: flex;
  align-items: center;
}

.artist-name-divs {
  display: flex;
  align-items: center;
}

.tag {
  display: flex;
  justify-content: center;
}

.song-index {
  display: flex;
  align-items: center;
  justify-content: center;
}

.ellipsis-div {
  display: none;
}

.mobile-current-song-main {
  display: none;
}

.song-progress-div-mobile {
  height: min-content;
  margin-bottom: 0.2em;
}

/* responsivity */
@media screen and (min-width: 1200px) and (max-width: 1500px) {
  .date-added {
    display: none;
  }

  .duration-divs {
    justify-content: end;
    padding-right: 2em;
  }

  .album-name {
    padding-left: 4em;
  }

  .album-names {
    padding-left: 4em;
  }

  .song {
    padding-top: 0.5em;
  }

  .songs-header {
    padding-top: 1em;
  }
}

@media screen and (min-width: 820px) and (max-width: 1200px) {
  .date-added {
    display: none;
  }

  .duration-divs {
    justify-content: end;
    padding-right: 2em;
  }

  .album-name {
    display: none;
  }

  .album-names {
    display: none;
  }

  .song {
    grid-template-columns: 0.5fr 2fr 2fr;
    margin: 0em 1.5em 0em 0.5em;
    padding-top: 1em;
  }

  .songs-header {
    grid-template-columns: 0.5fr 2fr 2fr;
    margin: 0em 1.5em 0em 0.5em;
    padding-top: 1em;
  }
}

.play-btn-mobile {
  display: flex;
  align-self: center;
  height: 100%;
  width: 6em;
  justify-content: space-evenly;
}

.fa-mobile-screen-button {
  font-size: 1.5em;
}

@media (max-width: 820px) {
  .play-pause-btns {
    font-size: 1.5em;
  }

  .play-btn-mobile {
    color: white;
  }

  #mobile-current-song-main {
    position: fixed;
    left: 0;
    bottom: 0;
    width: 97.5%;
    /* background-color: #71242c; */
    margin: 0em 0em 0.3em 0.3em;
    padding: 0em 0.3em 0em 0.3em;
    border-radius: 5px;
  }
  .current-album-cover {
    height: 3em;
    border-radius: 6px;
    margin-top: 0.2em;
  }

  .songs-main-container {
    height: 20em;
  }

  .songs-main {
    padding-bottom: 5em;
  }
  .current-song-main {
    display: none;
  }

  .date-added {
    display: none;
  }

  .album-name {
    display: none;
  }

  .album-names {
    display: none;
  }

  .song {
    grid-template-columns: 0.5fr 2fr 2fr 2fr;
    display: flex;
    justify-content: space-between;
    margin: 0em 0.5em 0em 0.7em;
  }

  .songs-header {
    display: none;
  }

  .hr {
    display: none;
  }

  .title {
    display: none;
  }

  .explicit-icon {
    height: 1em;
    padding-left: 0.2em;
  }

  .duration-divs {
    display: none;
  }

  .tag {
    display: none;
  }

  .song-index {
    display: none;
  }

  .album-cover {
    height: 3em;
    border-radius: 3px;
  }

  .ellipsis-div {
    display: flex;
    align-items: center;
    padding-right: 1em;
  }

  .flex-row-one {
    margin-bottom: 0.5em;
    width: 16em;
    text-wrap: nowrap;
    overflow: hidden;
  }
}

@media (max-width: 550px) {
  .album-name {
    display: none;
  }

  .album-names {
    display: none;
  }

  .song {
    grid-template-columns: 0.5fr 2fr 2fr;
    margin: 0em 0.5em 0em 0.5em;
  }

  .flex-row-one {
    margin-bottom: 0.5em;
    width: 16em;
    text-wrap: nowrap;
    overflow: hidden;
  }
}

.current-song-title-mobile {
  font-size: medium;
  margin-left: 0.5em;
  margin-bottom: 0.3em;
}

.current-song-artist-mobile {
  font-size: medium;
  margin-left: 0.5em;
}

#song-title-artist-mobile {
  justify-content: center;
  display: flex;
  flex-direction: column;
}

.phone {
  font-size: 0.7em;
}

.ml05 {
  margin-left: 0.5em;
}
